<html>
  <head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script>
      $(document).ready(function(){
        function debug(str){ $("#debug").append("<p>"+str+"</p>"); };
 
        ws = new WebSocket("ws://localhost:8080/websocket");
        ws.onmessage = function(evt) { 
          if (evt.data == 'cls') {
            $("#msg").empty(); 
          } else {
            $("#msg").append("<p>"+evt.data+"</p>"); 
          };
        };
        ws.onclose = function() { debug("socket closed"); };
        ws.onopen = function() {
          //debug("connected...");
          ws.send("ack");
        };
      });
    </script>
  </head>
  <body style="background: #BFBFBF">
    <div style="text-align: center; width: 400px; margin: 0 auto; margin-top: 200px">
      % @payloads.each do |p|
        <div id="msg" style="text-align: left; font-size: x-large; font-weight: bold;"></div>
      % end
      <div id="msg" style="text-align: left; font-size: x-large; font-weight: bold;"></div>
    </div>
  </body>
</html>
